In [62]:
import numpy as np
import pandas as pd

In [63]:
ComNews = pd.read_csv('F:/Learning/DataScience/Kaggle/Data/StockPredictionFromNews/Combined_News_DJIA.csv')
StockData = pd.read_csv('F:/Learning/DataScience/Kaggle/Data/StockPredictionFromNews/DJIA_table.csv') 
RedNews = pd.read_csv('F:/Learning/DataScience/Kaggle/Data/StockPredictionFromNews/RedditNews.csv')

In [64]:
ComNews.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [65]:
StockData.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [66]:
RedNews.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [67]:
combined = ComNews.copy()
combined.shape

(1989, 27)

In [76]:
combined['Combined'] = combined.iloc[:,2:27].apply(lambda row: ''.join(str(row.values)), axis=1)

In [77]:
combined.shape

(1989, 28)

In [79]:
combined['Combined'].iloc[:20]

0     ['b"Georgia \'downs two Russian warplanes\' as...
1     ["b'Why wont America and Nato help us? If they...
2     ["b'Remember that adorable 9-year-old who sang...
3     ["b' U.S. refuses Israel weapons to attack Ira...
4     ["b'All the experts admit that we should legal...
5     ['b"Mom of missing gay man: Too bad he\'s not ...
6     ["b'In an Afghan prison, the majority of femal...
7     ['b"Man arrested and locked up for five hours ...
8     ["b'Two elderly Chinese women have been senten...
9     ['b"British resident held in Guantanamo Bay wi...
10    ["b'Syria says its ready to put a Russian miss...
11    ['b"N Korea\'s Kim died in 2003; replaced by l...
12    ["b'North Korea halts denuclearisation after U...
13    ["b'Photos of a 15-year-old Iraqi suicide bomb...
14    ['b"Military help for Georgia is a \'declarati...
15    ["b'Russian Prime Minister Vladimir Putin has ...
16    ['b"A girl filmed Israeli soldiers\' brutality...
17    ["b'Poland Legalization of Marijuana - two maj...
18    ["b'Security guards beat man at soccer (footba...
19    ["b'In Jordan, the honor killings that are not...
Name: Combined, dtype: object

In [43]:
combined.dtypes

Date        object
Label        int64
Top1        object
Top2        object
Top3        object
Top4        object
Top5        object
Top6        object
Top7        object
Top8        object
Top9        object
Top10       object
Top11       object
Top12       object
Top13       object
Top14       object
Top15       object
Top16       object
Top17       object
Top18       object
Top19       object
Top20       object
Top21       object
Top22       object
Top23       object
Top24       object
Top25       object
Combined    object
dtype: object

In [45]:
type(combined)

pandas.core.frame.DataFrame

In [58]:
df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [59]:
df.apply(lambda x: [1, 2], axis=1)

   A  B
0  1  2
1  1  2
2  1  2